* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.section__padding {
    padding: 0.5rem 1.5rem;
}

.section__margin {
    margin: 4rem 6rem;
}


.home__container{
    display: flex;
    flex-direction: column;
}

.home__container-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-color);    
}