@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--background-color); 
    font-family: var(--font-family);
}

.body__container {
    max-width: 900px;
    width: 100%;
    background-color: var(--base-color); 
    padding: 40px 40px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.body__welcome,
.body__title {
    text-align: center;
    color: white;
}

.body__welcome{
    font-size: 20px;
    font-weight: 100;
}

.body__title{
    font-size: 35px;
    font-weight: 500;
    color: transparent;
    background-image: radial-gradient(circle, #E2EDE9, #2bf3b0, #4ECCA3);
    background-clip: text;
}

.body__user-details {
    display: flex;
    flex-direction: column;
    margin: 20px 0 12px 0;
}

.body__user-details__input-box {
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
    width: 100%;
}

.body__user-details__input-box__username input {
    height: 60px;
    width: 500px;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 20px;
    border: none;
    border-bottom-width: 2px;
    background-color: #393E46;
}

.body__user-details__input-box__password input {
    height: 60px;
    width: 500px;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 20px;
    border: none;
    border-bottom-width: 2px;
    background-color: #393E46;
}

.body__login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.body__login-button input {
    height: 50px;
    width: 110px;
    border-radius: 75px;
    background: #4ECCA3;
    border: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.body__login-button input:hover {
    background: white;
}

.body__login-button__login {
    text-align: center;
    color: #fff;
}

.body__login-button__login span {
    color: #4ECCA3;
    cursor: pointer;
}

.body__user-details__remember-me {
    margin:5px;
    color: white;
    cursor: pointer;
}
