/* .aboutus__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}


.aboutus__container h1{
    font-family: var(--font-family);
    color: white;
    font-size: 40px;
    font-weight: 1000;
    margin-bottom: 1rem;
}

.aboutus__container a{
    text-decoration: none;
    font-family: var(--font-family);
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin: 1rem 0rem;
}

.aboutus__container a:hover{
    color: var(--button-color);
} */

.aboutus__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left-align;
    width: 100%;
}

.aboutus_profile{
    margin-bottom: 1rem;
}

.aboutus__container p{
    color: white;
    font-family: var(--font-family);
    font-size: 1rem;
}

.aboutus__container h1{
    font-family: var(--font-family);
    color: white;
    font-size: 40px;
    font-weight: 1000;
    margin-bottom: 1rem;
}

.aboutus_header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.aboutus_header__profile-container {
    display: flex;
}

.aboutus_header__cover-photo {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: 20px;
}

.aboutus_header__aboutus-picture {
    width: 233px;
    height: 233px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-top: -15%;
    margin-left: 1.5rem;
    border: 3px solid white;
}

.aboutus_header__profilecontainer{
    display: flex;
    align-items: center;
}

.aboutus_header__aboutus-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px; 
    margin-left: 20px;
    color: #FFFFFF;
}

.aboutus_header__right-button{
    margin-left: 1rem;
    display: inline-block;
    padding: 0px 17px;
    border: none;
    width: 100px;
    max-width: 100px;
    height: 30px;
    cursor: pointer;
    background: #4ECCA3;
    border-radius: 75px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px; 
    vertical-align: middle; 
}


.about-us_container h2 {
  font-family: var(--font-family);
  font-size: 20px;
  margin-bottom: 10px;
}

.about-us_container p, .about-us_container li {
  font-family: var(--font-family);
  line-height: 2;
}

.contact-us_container, .npm-packages_container {
  margin-top: 20px;
}

.contact-us_container a {
  color: #4ea8de;
  text-decoration: none;
}

.contact-us_container a:hover {
  text-decoration: underline;
}

.npm-packages_container ul {
  list-style-type: none;
  padding: 0;
}

.npm-packages_container li {
  margin-bottom: 5px;
  color: white;
}

.npm-packages_container{
    color: white;
    font-family: var(--font-family);
}

.npm-packages_container h1 {
  color: white;
  font-family: var(--font-family);
}