.profile_info__container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--base-color);
    width: 100%;
    border-radius: 15px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8rem;
    padding-right: 8rem;
}

.profile_info__image {
    
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-style: none;
    margin: 1rem;
}

.profile_info__textcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.profile_info__details {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: left;
    justify-content: flex-start;
}

.profile_info__details-contents {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: left;
    justify-content: flex-start;
}

.profile_info__details-contents_header {
    font-family: var(--font-family);
    font-size: 18px;
    color: var(--subheader-color);
}

.profile_info__details-contents_text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    color: white;
}

.profile_info__aboutme {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 2rem;
    align-items: left;
    justify-content: flex-start;
    max-width: 400px;
}

.profile_info__aboutme-header {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    color: var(--subheader-color);
}

.profile_info__aboutme-text {
    font-family: var(--font-family);
    font-size: 16px;
    color: white;
    justify-content: baseline;
    text-align: justify;
}