<div class="post" id="post_1">
    <div class="post-header">

        <img class="pfp" src="images/profile-photo.png">
        <a href="profile_Blix.html"><span class="post-header-username">Blix</span></a>
        <span class="post-date">2/11/2024</span>
        <div class="post-up-down-buttons">
            <div class="post-vote">
                <button class="post-vote-button"><img class="post-vote-button-img"
                        src="images/upvote.png"></button>
                <span class="post-vote-count">30</span>
            </div>

            <div class="post-vote">
                <button class="post-vote-button"><img class="post-vote-button-img"
                        src="images/downvote.png"></img></button>
                <span class="post-vote-count">10</span>
            </div>
        </div>

    </div>
    <div class="post-title">
        <span>HELP ME IN CCS</span>
    </div>
    <div class="post-content">
        <span class="white">Hi, I'm Blix, and I'm really eager to kickstart a career in computer
            science. I find myself at a bit of a crossroads and could use some advice. I'm wondering,
            how do I get started in this field? What track should I focus on—web development, artificial
            intelligence, or maybe cybersecurity? The possibilities seem endless, and I'm both excited
            and a bit overwhelmed. If anyone has some guidance on how to navigate this journey and make
            meaningful choices, I'd greatly appreciate it!</span>
    </div>

    <div class="post-viewbutton">
        <p>
            <a href="Post1.html"><span class="bold">View Post</span></a>
        </p>
    </div>

    <div class="post-tags">
        <p>
            #nodejs #id122 #html
        </p>
    </div>

</div>